* {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap");
  font-family: "Public Sans", sans-serif;
}

/* NAV PART  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px -39px 0 -49px;
  width: 100%;
}

nav img {
  width: 268px;
  height: 100px;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: large;
}

nav div > :first-child {
  color: #00ccb1;
}

nav div :nth-child(2) {
  color: rgb(215, 206, 194);
}
nav div :nth-child(3) {
  color: rgb(215, 206, 194);
}

/* FIRST PART  */

.conta {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
  padding-top: 50px;
}

.conta img {
  width: 63px;
  height: 55px;
}

.conta :first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.conta h1 {
  color: #00ccb1;
  font-size: x-large;
}

.last-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1015px;
  color: rgb(191, 180, 166);
}

/* PART 2 section alpha  */

.alpha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 100px 0px 100px;
  height: 400px;
  gap: 20px;
}
/* div beta  */
.beta {
  gap: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #00ccb1;
  height: 100%;
  justify-content: center;
  width: 300px;
  height: 345px;
  color: aliceblue;
}

.green {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.link {
  display: flex;
  align-items: center;
  align-items: baseline;
  padding: 20px;
}

/* div OMEGA  */
.omega {
  gap: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #3d83df;
  height: 100%;
  justify-content: center;
  width: 300px;
  height: 345px;
  color: aliceblue;
}

.bleu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.link {
  display: flex;
  align-items: center;
  align-items: baseline;
  padding: 20px;
}

/* div sigma  */
.sigma {
  gap: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  height: 100%;
  justify-content: center;
  width: 300px;
  height: 345px;
  background-color: rgb(26, 37, 50);
  color: antiquewhite;
}

.dark-bleu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

#MyDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MySection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
}

.MySection > div :first-child {
  color: #00ccb1;
}

#MyPics svg,
#MyPics img {
  width: 80px;
  height: 80px;
  filter: grayscale(80%);
}

#MyPics {
  max-width: 500px;
}

/* Part 4  */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background: #e5faf8;
  position: relative;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.child1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lilChild {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 50px;
  width: 205px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lilChild h3 {
  color: #00ccb1;
}

.lilChild p {
  padding-bottom: 40px;
}
.child2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lilChild {
  background-color: white;
  border-radius: 10px;
}

.lilChild h3 {
  color: #00ccb1;
}

.lilChild p {
  padding-bottom: 40px;
}

.lilChild2 {
  background-color: white;
  border-radius: 10px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.lilChild2 h3 {
  color: #00ccb1;
}

#photo {
  width: 300px;
  height: 300px;
  position: absolute;
}

.PDG {
  position: absolute;
  top: 135px;
  left: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.PDG h2 {
  color: #00ccb1;
}

/* part 5  */

.part5 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 50px 0 50px;
  text-align: center;
  gap: 20px;
}

.part5 h2 {
  color: #00ccb1;
}

.part5 p {
  color: gray;
}

/* Grid  */

.mygirdSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridpere > div {
  height: 357px;
  width: 307px;
}

.gridpere > div > img {
  width: 100%;
}

.gridpere > div:hover {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
}

.gridpere {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  width: 1069px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 3;
}
.div2 {
  grid-area: 1 / 1 / 2 / 2;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 3 / 4 / 4;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 1 / 4 / 2;
}
.div10 {
  grid-area: 4 / 1 / 5 / 2;
}

.div1 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div1 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div2 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div2 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}

.div3 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div3 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div4 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div4 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div5 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div5 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div6 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div6 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div7 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div7 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div8 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div8 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div9 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div9 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}
.div10 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.div10 button {
  padding: 7px;
  border-radius: 5px;
  background-color: #3d83df;
  border: none;
  color: #e5faf8;
}

/* last part  */

.end {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  margin-bottom: 40px;
}

.end h3 {
  font-size: x-large;
}

.end button {
  padding: 10px;
  background-color: #3d83df;
  color: #e5faf8;
  border: none;
  border-radius: 5px;
}

/* footer  */

footer {
  height: 50px;
  text-align: center;
}

footer span {
  color: #3d83df;
}
